<%= form_with(model: bikes_forall, local: true) do |form| %>
  <% if bikes_forall.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bikes_forall.errors.count, "error") %> prohibited this bikes_forall from being saved:</h2>

      <ul>
      <% bikes_forall.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
