
<nav>
<ul>
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "About", simple_pages_about_path %></li>
  <li><%= link_to "Contact", simple_pages_contact_path %></li>
</ul>
</nav>
<h1>One Stop Shop</h1>
<h2>Your source for used bikes in Berlin</h2>
