

<div class="row">
    <div class="col-sm">
      <h3><u><%= link_to product.name, product %></u></h3>
      <p><%= product.description %></p>
      <strong>$ <%= product.price %></strong>
    </div><!-- /col -->
</div>
